<template>
    <RegistrationForm></RegistrationForm>
</template>

<script>
import ClinicAdminReg from '@/components/ClinicAdminRegForm.vue';

export default {
  components: {
    RegistrationForm: ClinicAdminReg,
  },
};
</script>
